#homeBody {
    width: 60%;
    height: 60%;
    margin: auto;
}
#aboutBody {

}
#homeNav {
    width: 100%;
    height: 80px;

}
#aboutBody {
    margin: 20%;
    margin-top: 50px;
    font-size: 14px;
    line-height: 20px;
    background-color: #5786c1;
    padding: 20px;
    text-align: justify;
}
#aboutBody a {
    color: #ffcc00;
    text-decoration: none;

}
#diagnosisVideo {
    width: 100%;
    padding-top: 3%;

}
body {
    overflow: hidden;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;

}
#footer {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 20px;
}
a {
    color: white;
}
#footer a {
    color: #5786c1;
    text-decoration: none;

}
.navLink a {
    color: #ccc;
    text-decoration: none;
}
#naughtyLink {
    padding-top: 0px;
    margin-left: -100px;
    margin-top: -30px;
    float: left;
    font-size: 48px;
}
#aboutLink {
    float: right;
    font-size: 32px;
    margin-right: 20px;
    padding-top: 12px;
    padding-right: 20px;
}
#aboutLink a {
    color: #5786c1;

}
a#naughtyGene {
    font-size: 48px;

}
#naughty { color: #5786c1;
}
#scientistLink {
    float: left;
}
#parentLink {
    float: right;
}
span.enterType {
    color: #5786c1;

}
a.doorLink {
    color: #eee;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    font-size: 16px;

}
/* Code from http://codepen.io/chriscoyier/pen/iphrb */
button, .button, input[type=submit] {
  border: 0;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
  cursor: pointer;
}
button:hover, button:focus, button.hover, button.focus, .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
  transform: translate(2px, 2px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}
button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
  transform: translate(4px, 4px);
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}

/* End Codepen code */
